.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 5.2rem;
}

h4 {
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
